{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <h1>Привет ты попал в мой магазин очерь рад тебя видет!!!</h1>
    
    <main>
        <div class="container">
            {% block content %}
            <!-- Здесь будет содержимое дочерних шаблонов -->
            {% endblock %}
        </div>
    </main>
    
    <footer>
        <div class="container">
            <p>&copy; {% now "Y" %} DZ Templates. Все права защищены.</p>
        </div>
    </footer>
    
    <script src="/static/js/main.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>